.hero-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  margin-top: 110px;
  gap: 5px;
}
.heading {
  letter-spacing: 13px;
  font-size: 44px;
  fill-opacity: 0.8;
  color: rgb(205, 200, 200);
}
.paragraph {
  font-size: 20px;
  color: rgb(190, 186, 186);
}
@media only screen and (max-width: 769px) {
  .heading {
    letter-spacing: 7px;
    font-size: 18px;
  }
  .paragraph {
    font-size: x-small;
  }
  .hero-content {
    margin-top: 10px !important;
  }
}
@media only screen and (min-width: 770px) and (max-width: 821px) {
  .heading {
    font-size: 24px;
  }
}
